.sidebar {
  width: 240px;
  height: 100vh;
  background-color: #121212;
  color: #fff;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  border-right: 2px solid #2f2f2f;
}

.title {
  font-size: 22px;
  margin-bottom: 20px;
}

nav ul {
  padding: 0;
  list-style: none;
}

nav li {
  padding: 12px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 6px;
}

nav li:hover {
  background: #1f1f1f;
}

.active {
  background: #3d3d3d;
}
